In [26]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [27]:
df = pd.read_csv('car driving risk analysis.csv')

In [28]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [29]:
df.shape

(6, 4)

In [30]:
df.isnull()

   speed  car_age  experience   risk
0  False    False       False  False
1  False    False       False  False
2  False    False       False  False
3  False    False        True  False
4  False    False       False  False
5  False    False       False  False

In [31]:
df.isnull().any()

speed         False
car_age       False
experience     True
risk          False
dtype: bool

In [32]:
df.isnull().sum()

speed         0
car_age       0
experience    1
risk          0
dtype: int64

In [33]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [34]:
n = df.experience.median()

In [35]:
n

5.0

In [36]:
df.experience = df.experience.fillna(n)

In [37]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [38]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
reg = LinearRegression()

In [41]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
reg.predict([[160,10,5]])

array([71.37146872])

In [43]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [44]:
reg.intercept_

33.410000910435905

# Y = M1X1 + M2X2 + M3X3 + ........MnXn + C

In [45]:
 0.33059217 * 160 + 1.61053246*10 + -6.20772074*5 + 33.410000910435905

71.3714690104359

# Proved